In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import scipy as sp
from sklearn.tree import DecisionTreeClassifier  

from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('default of credit card clients.csv')

In [4]:
#Checking number of different classes present
data.Y.value_counts()

0                             23364
1                              6636
default payment next month        1
Name: Y, dtype: int64

In [5]:
#MAking first line as header
new_header = data.iloc[0]
data = data[1:]
data.columns = new_header

In [6]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 1 to 30000
Data columns (total 25 columns):
ID                            30000 non-null object
LIMIT_BAL                     30000 non-null object
SEX                           30000 non-null object
EDUCATION                     30000 non-null object
MARRIAGE                      30000 non-null object
AGE                           30000 non-null object
PAY_0                         30000 non-null object
PAY_2                         30000 non-null object
PAY_3                         30000 non-null object
PAY_4                         30000 non-null object
PAY_5                         30000 non-null object
PAY_6                         30000 non-null object
BILL_AMT1                     30000 non-null object
BILL_AMT2                     30000 non-null object
BILL_AMT3                     30000 non-null object
BILL_AMT4                     30000 non-null object
BILL_AMT5                     30000 non-null object
BILL_AMT6                     30000 non-null object
PAY_AMT1                      30000 non-null object
PAY_AMT2                      30000 non-null object
PAY_AMT3                      30000 non-null object
PAY_AMT4                      30000 non-null object
PAY_AMT5                      30000 non-null object
PAY_AMT6                      30000 non-null object
default payment next month    30000 non-null object
dtypes: object(25)
memory usage: 5.7+ MB

In [8]:
y = data['default payment next month']

In [9]:
features = data.drop('default payment next month',axis=1)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(features,y, test_size = 0.2, random_state=0)

In [11]:
from imblearn.over_sampling import SMOTE

# Resample the minority class
sm = SMOTE(sampling_strategy='minority', random_state=7)

# Fit the model to generate the data.
oversampled_trainX, oversampled_trainY = sm.fit_sample(x_train, y_train)
oversampled_train = pd.concat([ pd.DataFrame(oversampled_trainX),pd.DataFrame(oversampled_trainY)], axis=1)
oversampled_train.columns = new_header

In [12]:
oversampled_train.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,3226.0,20000.0,2.0,3.0,1.0,44.0,0.0,0.0,2.0,0.0,...,18780.0,0.0,0.0,3000.0,0.0,1000.0,1000.0,0.0,0.0,0
1,11816.0,260000.0,2.0,2.0,2.0,30.0,-1.0,-1.0,-1.0,-1.0,...,165.0,333.0,165.0,165.0,274.0,165.0,333.0,165.0,293.0,0
2,7339.0,20000.0,1.0,2.0,1.0,39.0,2.0,0.0,0.0,0.0,...,19928.0,20204.0,20398.0,1500.0,1500.0,900.0,700.0,1480.0,0.0,1
3,14981.0,30000.0,1.0,2.0,1.0,23.0,2.0,2.0,2.0,2.0,...,30127.0,30525.0,29793.0,1800.0,150.0,2250.0,1000.0,0.0,700.0,1
4,27168.0,10000.0,1.0,2.0,1.0,29.0,0.0,0.0,0.0,0.0,...,9470.0,6690.0,9690.0,2800.0,2000.0,1500.0,900.0,3000.0,0.0,1

In [13]:
oversampled_train.describe

<bound method NDFrame.describe of 0                ID      LIMIT_BAL       SEX  EDUCATION  MARRIAGE        AGE  \
0       3226.000000   20000.000000  2.000000   3.000000  1.000000  44.000000
1      11816.000000  260000.000000  2.000000   2.000000  2.000000  30.000000
2       7339.000000   20000.000000  1.000000   2.000000  1.000000  39.000000
3      14981.000000   30000.000000  1.000000   2.000000  1.000000  23.000000
4      27168.000000   10000.000000  1.000000   2.000000  1.000000  29.000000
5      23155.000000  180000.000000  2.000000   2.000000  1.000000  36.000000
6      18327.000000  200000.000000  2.000000   1.000000  2.000000  33.000000
7      29264.000000   80000.000000  1.000000   3.000000  2.000000  23.000000
8      21934.000000  290000.000000  2.000000   2.000000  2.000000  27.000000
9       2662.000000  320000.000000  2.000000   2.000000  1.000000  53.000000
10     23177.000000  290000.000000  2.000000   2.000000  1.000000  35.000000
11     11580.000000   90000.000000  2.000000   3.000000  1.000000  39.000000
12     20687.000000  200000.000000  1.000000   2.000000  1.000000  40.000000
13     25152.000000  350000.000000  2.000000   1.000000  1.000000  33.000000
14     22004.000000  230000.000000  2.000000   1.000000  2.000000  29.000000
15     23348.000000  230000.000000  2.000000   2.000000  1.000000  30.000000
16      3949.000000   50000.000000  2.000000   2.000000  2.000000  25.000000
17     29280.000000  160000.000000  1.000000   1.000000  2.000000  27.000000
18     21735.000000  130000.000000  2.000000   1.000000  2.000000  23.000000
19     18128.000000  130000.000000  1.000000   1.000000  2.000000  37.000000
20      6485.000000  210000.000000  2.000000   4.000000  2.000000  25.000000
21       809.000000  190000.000000  2.000000   1.000000  2.000000  26.000000
22      7818.000000   50000.000000  1.000000   2.000000  2.000000  27.000000
23     17047.000000   60000.000000  2.000000   2.000000  2.000000  25.000000
24     11163.000000  240000.000000  2.000000   1.000000  2.000000  30.000000
25     28325.000000   30000.000000  2.000000   1.000000  2.000000  30.000000
26       662.000000   90000.000000  1.000000   2.000000  1.000000  40.000000
27     20852.000000  240000.000000  1.000000   1.000000  2.000000  35.000000
28     15232.000000   20000.000000  2.000000   3.000000  1.000000  42.000000
29     28162.000000  230000.000000  2.000000   3.000000  2.000000  46.000000
...             ...            ...       ...        ...       ...        ...
37292  13961.162230   70000.000000  2.000000   1.000000  1.314420  37.912545
37293  29098.614701   30000.000000  2.000000   2.699238  1.150381  56.541234
37294  10155.173406   30000.000000  1.000000   2.400275  1.299862  45.202204
37295  11747.839919  198640.905355  1.000000   2.000000  1.000000  36.135909
37296  12105.524000  210000.000000  2.000000   1.000000  2.000000  46.325427
37297   3386.246545  177751.921226  1.775192   1.000000  1.000000  30.821734
37298  13560.655592   80000.000000  1.025906   1.025906  2.000000  26.077718
37299  26958.488146  120000.000000  1.000000   1.896043  1.896043  30.975180
37300  16897.981111   60000.000000  1.592493   1.592493  2.000000  29.000000
37301  18667.922565  319762.404071  1.976240   1.976240  2.000000  28.023760
37302  22176.776826  160000.000000  1.772154   1.772154  0.227846  40.772154
37303  24963.879196  104765.100687  1.476510   1.523490  1.000000  39.805369
37304  10508.912734  150000.000000  1.788488   2.788488  1.211512  43.769763
37305  20999.943000   20000.000000  1.312261   2.000000  2.000000  27.501911
37306  16229.530951  120000.000000  2.000000   1.654319  1.345681  27.765445
37307  22367.641360  200000.000000  2.000000   1.097967  1.902033  27.685767
37308  18911.611017  131652.188341  2.000000   2.000000  1.165219  43.530404
37309  15328.635889  180000.000000  2.000000   1.116004  1.116004  43.143939
37310   9149.096987   50000.000000  1.152557   1.152557  1.847443  30.610226
37311   5238.169810   30000.000000  1.984484   2.015516  1.000000  28.558577
37312  21255.937451  160760.591401  1.923941   2.000000  1.923941  40.521183
37313   6739.149675   50000.000000  1.000000   2.000000  1.214155  42.070776
37314   3028.997571   60000.000000  1.000000   1.226461  1.000000  42.076297
37315   3777.418335   30000.000000  1.000000   2.000000  1.028444  32.857779
37316  26537.899287   30000.000000  1.000000   2.621071  1.000000  29.705179
37317   5182.455536  101705.416251  1.829458   2.000000  1.170542  33.976750
37318  15435.042465  264490.870520  1.000000   1.112272  1.887728  35.000000
37319   8485.646014  150349.437794  1.678315   2.321685  1.321685  26.034944
37320   9037.669304  100000.000000  2.000000   1.734859  1.265141  33.878871
37321  22516.808794  180000.000000  2.000000   1.801930  1.000000  31.782628

0         PAY_0     PAY_2     PAY_3     PAY_4  ...      BILL_AMT4  \
0      0.000000  0.000000  2.000000  0.000000  ...   18780.000000
1     -1.000000 -1.000000 -1.000000 -1.000000  ...     165.000000
2      2.000000  0.000000  0.000000  0.000000  ...   19928.000000
3      2.000000  2.000000  2.000000  2.000000  ...   30127.000000
4      0.000000  0.000000  0.000000  0.000000  ...    9470.000000
5     -2.000000 -2.000000 -2.000000 -2.000000  ...       0.000000
6      0.000000 -1.000000  0.000000  0.000000  ...  157631.000000
7     -1.000000  2.000000 -1.000000 -1.000000  ...     125.000000
8      0.000000  0.000000  0.000000  0.000000  ...  212024.000000
9      0.000000  0.000000  0.000000  0.000000  ...   44486.000000
10     0.000000  0.000000 -1.000000 -1.000000  ...     430.000000
11     0.000000  0.000000  0.000000 -1.000000  ...    1764.000000
12     2.000000  2.000000  0.000000  0.000000  ...  111486.000000
13    -2.000000 -2.000000 -2.000000 -2.000000  ...    9571.000000
14    -2.000000 -1.000000  2.000000 -1.000000  ...    4571.000000
15     0.000000 -1.000000  0.000000 -1.000000  ...    2959.000000
16     0.000000  0.000000  0.000000  0.000000  ...   50154.000000
17    -1.000000 -1.000000 -1.000000 -1.000000  ...   19656.000000
18    -1.000000 -1.000000 -1.000000 -1.000000  ...    5008.000000
19     0.000000  0.000000  0.000000  0.000000  ...   91212.000000
20     0.000000  0.000000  0.000000  0.000000  ...    -243.000000
21     0.000000  0.000000  0.000000  0.000000  ...   33726.000000
22     1.000000  2.000000  2.000000  2.000000  ...   19483.000000
23     0.000000 -1.000000  0.000000  0.000000  ...   59679.000000
24    -2.000000 -2.000000 -2.000000 -2.000000  ...    8864.000000
25     0.000000  0.000000  0.000000  0.000000  ...    9745.000000
26     0.000000  0.000000  0.000000 -1.000000  ...     787.000000
27    -1.000000 -1.000000  2.000000 -1.000000  ...    2250.000000
28     2.000000  2.000000  2.000000  0.000000  ...   19431.000000
29     0.000000  0.000000  0.000000  0.000000  ...  160377.000000
...         ...       ...       ...       ...  ...            ...
37292  0.628839  0.628839  0.628839  0.628839  ...   44635.678520
37293  2.398476  1.548857  1.548857  5.796951  ...    1656.756809
37294  1.299862  2.000000  0.599725  0.599725  ...   24405.056342
37295 -0.592272 -1.000000 -0.864091 -0.864091  ...    4035.302801
37296  1.000000 -2.000000 -2.000000 -1.083729  ...     445.307867
37297  1.775192  2.000000  1.550384  1.550384  ...   56730.368562
37298  1.948188  2.922282  1.948188  2.000000  ...   63549.957495
37299  1.103957 -1.000000 -1.000000 -1.000000  ...     621.644607
37300  1.592493  2.000000  2.000000  1.184985  ...   42137.577986
37301  1.023760  1.952481  1.952481  0.000000  ...   22030.348697
37302 -0.227846 -0.227846 -0.227846 -0.227846  ...       0.000000
37303  1.476510  2.000000  2.000000  0.953020  ...   25627.677856
37304  1.576976  1.576976  1.576976  1.576976  ...   58625.117710
37305 -0.312261  0.936783  0.624522  0.624522  ...   18032.377227
37306  2.000000  0.000000  0.000000  1.308639  ...   19407.943617
37307 -2.000000 -2.000000 -2.000000 -2.000000  ...       0.000000
37308  2.000000  2.000000  2.000000  2.000000  ...  129074.722739
37309 -1.116004  1.535985 -1.116004 -1.116004  ...     279.342796
37310  0.305113  0.000000  0.000000  2.000000  ...   56513.628444
37311  0.031032  0.031032  0.031032  1.968968  ...   16668.494780
37312  0.152118  0.152118  2.000000  2.000000  ...   43771.774093
37313  0.000000  0.000000  0.000000  0.000000  ...   19963.042547
37314  1.547078  0.000000  0.000000  0.000000  ...   34133.422339
37315  1.000000 -1.971556 -1.971556 -2.000000  ...       0.000000
37316  1.810536  2.000000  2.000000  1.621071  ...   24027.586607
37317  2.658917  2.829458  2.000000  1.658917  ...   56650.443860
37318  1.775456  1.775456  1.775456  0.224544  ...  149067.043232
37319  0.321685  0.643371  0.000000 -1.356629  ...    5323.674504
37320  1.265141  2.000000  2.000000  2.000000  ...   82207.624200
37321 -1.207721 -1.801930 -1.801930 -1.801930  ...   14416.040376

0          BILL_AMT5      BILL_AMT6       PAY_AMT1      PAY_AMT2  \
0           0.000000       0.000000    3000.000000      0.000000
1         333.000000     165.000000     165.000000    274.000000
2       20204.000000   20398.000000    1500.000000   1500.000000
3       30525.000000   29793.000000    1800.000000    150.000000
4        6690.000000    9690.000000    2800.000000   2000.000000
5           0.000000       0.000000       0.000000      0.000000
6      143678.000000  159782.000000    8656.000000  14040.000000
7         -68.000000    -261.000000       0.000000   9387.000000
8      216379.000000  209440.000000    8601.000000   9300.000000
9       52319.000000   51764.000000    3000.000000   6000.000000
10      12715.000000   16895.000000   10000.000000    430.000000
11       1728.000000    1954.000000    1203.000000   1005.000000
12     118951.000000   89077.000000       0.000000   8756.000000
13       6370.000000    9674.000000    4348.000000   5596.000000
14       2526.000000    5375.000000   11142.000000   1430.000000
15       7079.000000    1880.000000    2554.000000   1000.000000
16      53936.000000   51459.000000    2000.000000   1771.000000
17       4056.000000    7496.000000     316.000000   2968.000000
18      13734.000000   14976.000000   13485.000000   3656.000000
19      29441.000000   29683.000000    5000.000000   3424.000000
20       -243.000000    -243.000000    3151.000000   2000.000000
21      35758.000000   35171.000000    1750.000000   1720.000000
22      19742.000000   19275.000000       0.000000   3300.000000
23       5575.000000    1733.000000   61058.000000   2186.000000
24       9248.000000   23353.000000       0.000000   9625.000000
25       9545.000000   13964.000000    1315.000000   1522.000000
26       1457.000000       0.000000    3114.000000      0.000000
27       1925.000000    1925.000000     650.000000      0.000000
28      19993.000000   -1000.000000    2994.000000      0.000000
29      85681.000000    -371.000000  135034.000000  10806.000000
...              ...            ...            ...           ...
37292   46609.290984   47472.112986    1995.886518   1800.496112
37293    1736.158042    1656.756809      39.700617     39.700617
37294   23874.557031   25203.682358    1011.735325   1479.594340
37295    4728.441070    4354.690042    5128.014895   4307.121730
37296     766.002833     766.002833       0.000000      0.000000
37297   51072.296294   47109.817334    2465.115274    449.615755
37298   64300.975796   67014.957012    2019.507108   2524.299691
37299     307.703598     382.552514     621.644607    329.534532
37300   43925.037725   44773.289689    2040.750735    998.350120
37301   21143.707211   25588.195812    2021.478672     35.639389
37302       0.000000     271.026219    1000.000000   1000.000000
37303   26105.859064   26163.389263    1857.046979      0.000000
37304   47727.549742   53463.382246    5326.674577    529.414162
37305   18531.451908   19099.748883    1078.374508   1285.675628
37306   19540.451085   18631.183306    2481.479044   2446.910980
37307       0.000000       0.000000       0.000000      0.000000
37308  130106.523104  130428.214022     991.313005  11109.555695
37309     279.342796     279.342796       0.000000    279.342796
37310   56186.382173   52671.369553    2277.269074   5254.316676
37311   17736.514134   18979.177815    2968.967937   2968.967937
37312   43835.361098   49595.878021    6604.492472    152.118280
37313   18232.109565   17175.123274    2785.844841   1518.835195
37314   35049.955560   34783.330334    2000.000000   2000.000000
37315       0.000000       0.000000      22.186535      0.000000
37316   25825.146608   27078.334822    1689.464285    567.375000
37317   35739.465850   36480.172049     426.354063   2094.382397
37318  160347.664880  155596.326199   12793.732480   1212.535040
37319    3577.244430    -147.872581     695.741110    452.611367
37320   83786.940456   85516.788362    1004.885012   6286.407111
37321     315.388301    4535.621803    7994.588074   9295.217647

0           PAY_AMT3      PAY_AMT4      PAY_AMT5       PAY_AMT6  \
0        1000.000000   1000.000000      0.000000       0.000000
1         165.000000    333.000000    165.000000     293.000000
2         900.000000    700.000000   1480.000000       0.000000
3        2250.000000   1000.000000      0.000000     700.000000
4        1500.000000    900.000000   3000.000000       0.000000
5           0.000000      0.000000      0.000000       0.000000
6      154888.000000  12848.000000  50000.000000   10000.000000
7         125.000000      0.000000      0.000000       0.000000
8        8000.000000   7612.000000   8015.000000    7008.000000
9        8000.000000  10000.000000   1900.000000    2000.000000
10        430.000000  12715.000000   5000.000000   15000.000000
11       1764.000000   1728.000000   1954.000000    1416.000000
12       5003.000000  10053.000000  10066.000000   10027.000000
13       9632.000000   6402.000000   9722.000000   24086.000000
14       4571.000000   2526.000000   5375.000000    3133.000000
15       2959.000000   5000.000000   1000.000000       0.000000
16       1770.000000   6038.000000      0.000000    2112.000000
17      19666.000000   4056.000000   7496.000000    4836.000000
18       5024.000000  13734.000000   3000.000000     822.000000
19       4193.000000   1042.000000   1100.000000    1080.000000
20          0.000000      0.000000      0.000000       0.000000
21       1300.000000   2600.000000      0.000000    1400.000000
22          0.000000   1560.000000      0.000000     881.000000
23       5667.000000   1200.000000   2000.000000       0.000000
24          0.000000   9248.000000  23353.000000    1205.000000
25       1200.000000      0.000000   6000.000000   10655.000000
26        787.000000   1457.000000      0.000000       0.000000
27       2250.000000      0.000000   1925.000000    1925.000000
28       1238.000000    800.000000      0.000000    1000.000000
29      20266.000000  15120.000000    343.000000  100014.000000
...              ...           ...           ...            ...
37292    1671.701737   2742.321480   1788.651778    2503.071408
37293       0.000000     79.401233      0.000000       0.000000
37294    1670.151494      0.000000   1728.324776    1000.000000
37295    4035.302801   4728.441070   4035.302801    4414.762026
37296     445.307867    766.002833      0.000000       0.000000
37297    4330.640657    449.615755   3062.019693    1296.125553
37298    2062.174049   1948.188292   3958.550634    2888.439180
37299     621.644607     15.593524    382.552514     345.128056
37300     696.022549   2610.604730   1826.399653    1793.388859
37301    1983.074090   1023.759593   4904.961628    2000.000000
37302       0.000000      0.000000    271.026219     164.048782
37303    2333.557048   1152.348993    575.838924    1045.134228
37304    8282.523775    396.584719  16333.653586     295.270543
37305    1207.009392    873.456053   1000.000000     754.331369
37306     345.680638    974.481545   1654.319362    2036.641884
37307       0.000000      0.000000      0.000000       0.000000
37308    4582.609417   4551.235213   4966.956233     776.528520
37309     279.342796    279.342796    279.342796     356.021315
37310     320.368754   3389.773803    305.113099    3673.681541
37311      15.516032   1492.241984   1548.099698    1476.725952
37312    7402.282208   1062.052032   6657.733870    7361.960772
37313    1702.255382   1785.844841   1535.387896    3571.689683
37314    2463.705525   1613.230463    452.921852    1613.230463
37315       0.000000      0.000000      0.000000       0.000000
37316    1189.464285   2445.794643   1821.072679     898.073572
37317     341.083250   1341.410050   1496.503440    3161.241725
37318    6807.832696  15322.921945    673.630578    5864.177580
37319     111.624836      3.538539      0.000000       0.000000
37320     821.937609   3053.028233   3161.512750    3368.183060
37321   14419.605633    315.784440   4537.998641     818.926939

0      default payment next month
0                               0
1                               0
2                               1
3                               1
4                               1
5                               0
6                               1
7                               0
8                               0
9                               0
10                              0
11                              0
12                              1
13                              0
14                              0
15                              0
16                              0
17                              0
18                              0
19                              0
20                              0
21                              0
22                              0
23                              1
24                              0
25                              0
26                              1
27                              1
28                              1
29                              0
...                           ...
37292                           1
37293                           1
37294                           1
37295                           1
37296                           1
37297                           1
37298                           1
37299                           1
37300                           1
37301                           1
37302                           1
37303                           1
37304                           1
37305                           1
37306                           1
37307                           1
37308                           1
37309                           1
37310                           1
37311                           1
37312                           1
37313                           1
37314                           1
37315                           1
37316                           1
37317                           1
37318                           1
37319                           1
37320                           1
37321                           1

[37322 rows x 25 columns]>

In [14]:
#Applying Random forest
clf = RandomForestClassifier(n_estimators=100)

In [15]:
clf.fit(oversampled_trainX,oversampled_trainY)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
y_pred = clf.predict(x_test)

In [17]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8168333333333333

In [18]:
#Predicting class probabilities
y_predict_prob = clf.predict_proba(features)

In [19]:
bin_classes = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]

In [20]:
bins = [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]

In [21]:
features['prob_1'] = pd.cut(y_predict_prob[:,0],bins,labels=bin_classes, include_lowest=True)

In [22]:
features.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,prob_1
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,0.2
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,0.2
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,1.0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,1.0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0.8

In [23]:
x_train_1, x_test_1, y_train_1, y_test_1 = train_test_split(features, y, test_size = 0.2, random_state=0)

In [24]:
#Applying Decision tree classifier
clf_1 = DecisionTreeClassifier()
print('Before distillation..')
clf_1.fit(x_train, y_train)
y_dt_wkd = clf_1.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test, y_dt_wkd))
print('Precision:', metrics.precision_score(y_test, y_dt_wkd,average='weighted'))
print('Recall:', metrics.recall_score(y_test, y_dt_wkd,average='weighted'))
print('f1-score:', metrics.f1_score(y_test, y_dt_wkd,average='weighted'))

print('After distillation..')
clf_1.fit(x_train_1, y_train_1)
y_dt = clf_1.predict(x_test_1)
print("Accuracy: ",metrics.accuracy_score(y_test_1, y_dt))
print('Precision:', metrics.precision_score(y_test_1, y_dt,average='weighted'))
print('Recall:', metrics.recall_score(y_test_1, y_dt,average='weighted'))
print('f1-score:', metrics.f1_score(y_test_1, y_dt,average='weighted'))

Before distillation..
Accuracy:  0.7376666666666667
Precision: 0.7411791802927393
Recall: 0.7376666666666667
f1-score: 0.7393769164838876
After distillation..
Accuracy:  0.8178333333333333
Precision: 0.8004825380985406
Recall: 0.8178333333333333
f1-score: 0.8026611400571734

In [25]:
x_train_1.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,prob_1
3226,3226,20000,2,3,1,44,0,0,2,0,...,18780,0,0,3000,0,1000,1000,0,0,1.0
11816,11816,260000,2,2,2,30,-1,-1,-1,-1,...,165,333,165,165,274,165,333,165,293,1.0
7339,7339,20000,1,2,1,39,2,0,0,0,...,19928,20204,20398,1500,1500,900,700,1480,0,0.1
14981,14981,30000,1,2,1,23,2,2,2,2,...,30127,30525,29793,1800,150,2250,1000,0,700,0.1
27168,27168,10000,1,2,1,29,0,0,0,0,...,9470,6690,9690,2800,2000,1500,900,3000,0,0.2

In [26]:
from sklearn import svm

In [27]:
clf = svm.SVC(C = 1000.0, gamma = 0.0001)

In [28]:
#Applying SVM
print('Before distillation..')
clf.fit(x_train,y_train)
y_predicted_wkd = clf.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_predicted_wkd))
print('Precision:', metrics.precision_score(y_test, y_predicted_wkd,average='weighted'))
print('Recall:', metrics.recall_score(y_test, y_predicted_wkd,average='weighted'))
print('f1-score:', metrics.f1_score(y_test, y_predicted_wkd,average='weighted'))

print('After distillation..')
clf.fit(x_train_1, y_train_1)
y_predicted = clf.predict(x_test_1)
print("Accuracy:",metrics.accuracy_score(y_test_1, y_predicted))
print('Precision:', metrics.precision_score(y_test_1, y_predicted,average='weighted'))
print('Recall:', metrics.recall_score(y_test_1, y_predicted,average='weighted'))
print('f1-score:', metrics.f1_score(y_test_1, y_predicted,average='weighted'))

Before distillation..
Accuracy: 0.7831666666666667
Precision: 0.6918555160453757
Recall: 0.7831666666666667
f1-score: 0.6900787809191553
After distillation..
Accuracy: 0.7831666666666667
Precision: 0.6918555160453757
Recall: 0.7831666666666667
f1-score: 0.6900787809191553

In [29]:
#Applying GuassianNB
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
print('Before distillation..')
nb.fit(x_train, y_train)
y_nb_wkd = nb.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test, y_nb_wkd))
print('Precision:', metrics.precision_score(y_test, y_nb_wkd,average='weighted'))
print('Recall:', metrics.recall_score(y_test, y_nb_wkd,average='weighted'))
print('f1-score:', metrics.f1_score(y_test, y_nb_wkd,average='weighted'))

print('After distillation..')
nb.fit(x_train_1, y_train_1)
y_nb = nb.predict(x_test_1)
print("Accuracy: ",metrics.accuracy_score(y_test_1, y_nb))
print('Precision:', metrics.precision_score(y_test_1, y_nb,average='weighted'))
print('Recall:', metrics.recall_score(y_test_1, y_nb,average='weighted'))
print('f1-score:', metrics.f1_score(y_test_1, y_nb,average='weighted'))

Before distillation..
Accuracy:  0.36433333333333334
Precision: 0.7466019261572051
Recall: 0.36433333333333334
f1-score: 0.355170917943154
After distillation..
Accuracy:  0.36516666666666664
Precision: 0.7470414418912754
Recall: 0.36516666666666664
f1-score: 0.3563424242982631

In [30]:
#Applying SGDC classifier
from sklearn.linear_model import SGDClassifier
SGDclf = SGDClassifier(loss='modified_huber',shuffle=True)
      
print('Before distillation..')
SGDclf.fit(x_train,y_train)
SGDpred_wkd = SGDclf.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test, SGDpred_wkd))
print('Precision:', metrics.precision_score(y_test, SGDpred_wkd,average='weighted'))
print('Recall:', metrics.recall_score(y_test, SGDpred_wkd,average='weighted'))
print('f1-score:', metrics.f1_score(y_test, SGDpred_wkd,average='weighted'))

print('After distillation..')
SGDclf.fit(x_train_1,y_train_1)
SGDpred = SGDclf.predict(x_test_1)
print("Accuracy: ",metrics.accuracy_score(y_test_1, SGDpred))
print('Precision:', metrics.precision_score(y_test_1, SGDpred,average='weighted'))
print('Recall:', metrics.recall_score(y_test_1, SGDpred,average='weighted'))
print('f1-score:', metrics.f1_score(y_test_1, SGDpred,average='weighted'))

Before distillation..

C:\Users\Chinnari\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\Chinnari\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

Accuracy:  0.7463333333333333
Precision: 0.7224033770514858
Recall: 0.7463333333333333
f1-score: 0.7320418136429993
After distillation..
Accuracy:  0.4995
Precision: 0.7205044572213957
Recall: 0.4995
f1-score: 0.5369264898853653

In [31]:
#Applying KNN algorithm
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 10) # n_neighbors = k



print('Before distillation..')
knn.fit(x_train,y_train)
prediction_wkd = knn.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test, prediction_wkd))
print('Precision:', metrics.precision_score(y_test, prediction_wkd,average='weighted'))
print('Recall:', metrics.recall_score(y_test, prediction_wkd,average='weighted'))
print('f1-score:', metrics.f1_score(y_test, prediction_wkd,average='weighted'))

print('After distillation..')
knn.fit(x_train_1,y_train_1)
prediction = knn.predict(x_test_1)
print("Accuracy:",metrics.accuracy_score(y_test_1, prediction))
print('Precision:', metrics.precision_score(y_test_1, prediction,average='weighted'))
print('Recall:', metrics.recall_score(y_test_1, prediction,average='weighted'))
print('f1-score:', metrics.f1_score(y_test_1, prediction,average='weighted'))

Before distillation..
Accuracy:  0.7778333333333334
Precision: 0.7160878708551482
Recall: 0.7778333333333334
f1-score: 0.7159649354203165
After distillation..
Accuracy: 0.7778333333333334
Precision: 0.7160878708551482
Recall: 0.7778333333333334
f1-score: 0.7159649354203165